html
{
	background: url(jkm_bg.gif);
	background-size: 100vw 100vh;
}
#sentenceBox
{
	color: white;
	font-family: 'Quintessential', cursive;
	font-size: xx-large;
	text-shadow: 0px 0px 5px black;
	background-color: #00000080;
}